<div class="container">
  <h1>New Restaurant</h1>
    <div class="form-row">
      <%= simple_form_for @restaurant do |f| %>
        <div class="row">
          <div class="form-group col-6">
            <%= f.input :name, class: "form-control", placeholder: "Ex: Los Locos" %>
          </div>
          <div class="form-group col-6">
            <%= f.input :address, class: "form-control", placeholder: "Ex: Flower St."  %>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-6">
            <%= f.input :phone_number, class: "form-control", placeholder: "(ddd)999999999"  %>
          </div>
          <div class="form-group col-md-6">
            <%= f.input :category, collection: Restaurant::CATEGORIES, class: "form-control", placeholder: "Ex: chinese"  %>
          </div>
        </div>
        <div class="row">
          <div class="mt-2 col-md-6">
            <%= f.submit "Submit", class: "btn btn-primary" %>
          </div>
         <% end %>
          <div class="mt-2 col-md-6">
            <%= link_to "Go back", restaurants_path, class: "btn btn-primary" %>
          </div>
        </div>
    </div>
</div>
