<h1>New Restaurant</h1>
<div class="form-group">
  <%= form_for(@restaurant) do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control", placeholder: "Ex: Los Locos" %>
    <%= f.label :address %>
    <%= f.text_field :address, class: "form-control", placeholder: "Ex: Flower St."  %>
    <%= f.label :phone_number %>
    <%= f.text_field :phone_number, class: "form-control", placeholder: "(ddd)999999999"  %>
    <%= f.label :category %>
    <%= f.text_field :category, class: "form-control", placeholder: "Ex: chinese"  %>
    <%= f.submit %>
  <% end %>
</div>

<div class="mt-2">
  <%= link_to "Go back", restaurants_path, class: "btn btn-primary" %>
</div>
